<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Remy VDW" }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-white dark:bg-[#222] text-gray-900 dark:text-white flex items-center justify-center min-h-screen">
  <main class="prose px-6 py-12 md:px-4 md:py-8">
    {{ content | safe }}
  </main>
</body>
</html>
