@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #000;
  color: #fff;
}

body {
  overflow-y: scroll;
}

.prose {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.65;
  max-width: 540px;
  min-width: 540px;
  margin-top: 10em;
  text-wrap: pretty;
  color: #111;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100,
    "opsz" 18;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums tabular-nums;
}

@media (prefers-color-scheme: dark) {
  .prose {
    color: #d4d4d4;
    letter-spacing: 0.01em;
  }
  
  .prose h1,
  .prose h2,
  .prose a {
    color: #fafafa;
    text-decoratoin-color: rgba(250, 250, 250, 0.3);
  }
  
  .prose a {
    text-decoration-color: rgba(250, 250, 250, 0.3)!important;
    color: #fafafa;
    transition: opacity 0.2s ease;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
}

.prose h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}

.prose h2 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 3em;
  opacity: 0.5;
}

.prose a {
  transition: opacity 0.2s ease;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-weight: 300;
}

.prose strong {
  font-weight: 500;
}

.prose a:hover {
  opacity: 0.6;
}

.prose figcaption {
  text-align: left;
}

.prose figcaption a {
  transition: opacity 0.2s ease;
  text-decoration-thickness: .5px;
  text-underline-offset: 3px;
  text-decoration-color: #111;
}

.prose figure {
  margin-bottom: 4em;
}

.prose img {
  border-radius: 3px;
  margin-bottom: 1em;
}

.prose footer {
  margin-top: 10em;
  font-size: .8em;
  opacity: 0.5;
}