@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #000;
  color: #fff;
}

.prose {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 540px;
  text-wrap: pretty;
  color: #111;
}

@media (prefers-color-scheme: dark) {
  .prose {
    color: #d4d4d4;
  }
  
  .prose h1,
  .prose h2,
  .prose a {
    color: #d4d4d4;
  }
}

.prose h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.prose h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 3em;
  opacity: 0.5;
}

.prose a {
  transition: opacity 0.2s ease;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.prose a:hover {
  opacity: 0.6;
}

.prose figcaption {
  text-align: left;
}

.prose figcaption a {
  transition: opacity 0.2s ease;
  text-decoration-thickness: .5px;
  text-underline-offset: 3px;
  text-decoration-color: #111;
}

.prose figure {
  margin-bottom: 4em;
}

.prose img {
  border-radius: 3px;
  margin-bottom: 1em;
}