@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #000;
  color: #fff;
}

.prose {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75;
  max-width: 540px;
  text-wrap: pretty;
  color: #111;
}

@media (prefers-color-scheme: dark) {
  .prose {
    color: #d4d4d4;
  }
  
  .prose h1,
  .prose h2,
  .prose a {
    color: #d4d4d4;
  }
}

.prose h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.prose h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 3em;
  opacity: 0.5;
}

.prose a {
  transition: opacity 0.2s ease;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.prose a:hover {
  opacity: 0.6;
}

.prose figcaption {
  text-align: left;
}

.prose figcaption a {
  transition: opacity 0.2s ease;
  text-decoration-thickness: .5px;
  text-underline-offset: 3px;
  text-decoration-color: #111;
}

.prose figure {
  margin-bottom: 4em;
}

.prose img {
  border-radius: 3px;
  margin-bottom: 1em;
}

.prose footer {
  margin-top: 10em;
  font-size: .8em;
  opacity: 0.5;
}