@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 540px;
  text-wrap: balance;
}

.prose h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.prose h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 3em;
  opacity: 0.5;
}
